doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    header
      h1 Hola mundo
      block header
    main 
      p Texto de ejemplo, este bloque pertenece al main
      block main 
    footer 
      span Ronny Endara
      block footer
