.card {
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-in;
    &--active {
      opacity: 1;
    }
  &__title, &__copy, &__data--label, &__data--value {
    font-weight: 100;
  }
  &__title {
    font-family: 'Lustria';
    font-size: $h3-font-size;
    text-transform: uppercase;
    letter-spacing: $h5-char-space;
    margin: 0.5rem 0;
  }
  &__copy {
    font-family: 'BarlowCondensed', serif;
    font-size: $copy-font-size;
    line-height: 1.9rem;
    letter-spacing: $main-char-space;
    color: $light-blue;
    margin: 0;
    padding-bottom: 2rem;
  }
  &__body {
    position: relative;
    margin-top: 1rem;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      left: 0;
      background-color: $light-blue;
      opacity: 0.3;
    }
  }
  &__footer {
    padding: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;

  }
  &__data {
    display: grid;
    gap: 1rem;
    text-transform: uppercase;
    &--label {
      color: $light-blue;
      letter-spacing: $sh2-char-space;
      font-size: $copy-font-size;
    }
    &--value {
      font-family: 'Lustria';
      font-size: $sh1-font-size;
    }
  }

  @media screen and(min-width: 600px) {
    &__copy {
      max-width: 530px;
    }
    &__footer {
      flex-direction: row;
      justify-content: center;
      gap: 5rem;
    }
    &__title {
      font-size: $h3-font-size + 20px;
    }
  }

  @media screen and(min-width: 1025px) {
    text-align: left;
    &__footer {
      justify-content: flex-start;
    }
    &__title {
      font-size: $h2-font-size - 10px;
    }
    &__copy {
      font-size: $copy-font-size + 4px;
    }
  }
}

.card--crew {
  .card__header {
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Lustria';
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: $main-char-space;
  }
  .card__title {
    font-size: $copy-font-size-alt + 2px;
    letter-spacing: $nav-char-space;
  }
  .card__body {
    &::before {
      display: none;
    }
  }
  .card__subtitle {
    font-size: $copy-font-size;
    color: $light-blue;
    opacity: 0.5;
  }

  @media screen and(min-width: 600px) {
    .card__subtitle {
      font-size: $h5-font-size ;
    }
    .card__title {
      font-size: $h4-font-size + 5px;
    }
  }

  @media screen and(min-width: 1025px) {
    .card__subtitle {
      font-size: $h5-font-size ;
    }
    .card__title {
      font-size: $h3-font-size - 10px;
    }
  }
}


.card--technology {
  .card__header {
    display: flex;
    flex-direction: column-reverse;
  }
  .card__title {
    font-size: $sh1-font-size;
    font-weight: 100;
    letter-spacing: $nav-char-space;
  }
  .card__subtitle {
    font-size: $copy-font-size;
    color: $light-blue;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: $main-char-space;
  }
  .card__body {
    padding: 0 2rem;
    &::before {
      display: none;
    }
  }
  .card__copy {
    padding-bottom: 0;
  }
  @media screen and(min-width: 600px) {
    .card__title {
      font-size: $h4-font-size + 5px;
    }
    .card__subtitle {
      font-size: $copy-font-size-alt;
      margin-bottom: 0.5rem;
    }
  }
  @media screen and(min-width: 1025px) {
    .card__body {
      padding-left: 0;
      padding-right: 10rem;
    }
  }
}