@font-face {
  font-family: 'Lustria';
  src: url('../assets/fonts/Lustria-Regular.ttf') ;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: url('../assets/fonts/BarlowCondensed-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url( '../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf' );
}

@font-face {
  font-family: 'Lora';
  src: url( '../assets/fonts/Lora-VariableFont_wght.ttf' );
}

$home-bg-desktop: url('../assets/home/background-home-desktop.jpg');
$home-bg-tablet: url('../assets/home/background-home-tablet.jpg');
$home-bg-mobile: url('../assets/home/background-home-mobile.jpg');

$dest-bg-desktop: url('../assets/destination/background-destination-desktop.jpg');
$dest-bg-tablet: url('../assets/destination/background-destination-tablet.jpg');
$dest-bg-mobile: url('../assets/destination/background-destination-mobile.jpg');

$crew-bg-desktop: url('../assets/crew/background-crew-desktop.jpg');
$crew-bg-tablet: url('../assets/crew/background-crew-tablet.jpg');
$crew-bg-mobile: url('../assets/crew/background-crew-mobile.jpg');

$tech-bg-desktop: url('../assets/technology/background-technology-desktop.jpg');
$tech-bg-tablet: url('../assets/technology/background-technology-tablet.jpg');
$tech-bg-mobile: url('../assets/technology/background-technology-mobile.jpg');

$dark-blue: #0b0d17;
$light-blue: #d0d6f9;
$white: #ffffff;

$h1-font-size: 150px;
$h2-font-size: 100px;
$h3-font-size: 56px;
$h4-font-size: 32px;
$h5-font-size: 28px;

$sh1-font-size: 28px;
$sh2-font-size: 14px;

$nav-font-size: 16px;
$main-font-size: 14px;

$copy-font-size-alt: 18px;

$copy-font-size: 16px;

$h5-char-space: 4.75px;
$sh2-char-space: 2.35px;
$main-char-space: 1px;

$nav-char-space: 2.7px;



